# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment variables
.env

# Generated reports & uploads
uploads/*
!uploads/.gitkeep
generated_reports/*
!generated_reports/.gitkeep

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store

scratch/
database.sqlite3
app/database/database.db
